doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/static/assets/css/app.css')
	body
		div#task-app
	script(src='/static/assets/js/app.js')
	script(src='/static/assets/js/vendor.js')
